<div fxLayoutAlign="center" class="main-div">
    <mat-card fxFlex="35">
        <mat-toolbar>
            <mat-toolbar-row>
                <p>Login</p>
                <span class="example-spacer"></span>
                <div>
                    New User?
                </div>
                <button routerLink="/Register" mat-raised-button>Register</button>
            </mat-toolbar-row>
        </mat-toolbar>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onlogin()" class="main-form">
                <div fxLayoutAlign="stretch" fxLayout="column" class="form-group">
                    <mat-form-field appearance="fill">
                        <mat-label>Username *</mat-label>
                        <input matInput formControlName="username">
                        <mat-error *ngIf="loginForm.controls.username.errors?.required">username is required</mat-error>
                    </mat-form-field><br>
                    <mat-form-field appearance="fill">
                        <mat-label>Password *</mat-label>
                        <input formControlName="username" matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.controls.password.errors?.required">password is required</mat-error>
                    </mat-form-field>
                    <div fxLayoutAlign="end">
                        <button mat-raised-button color="primary">Login</button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>