<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="40">
        <mat-toolbar color="primary" class="Login">
            <p>User Registration</p>

            <span class="example-spacer"></span>
            <div>
                Already registered?
            </div>
            <button mat-raised-button type="submit" class="topnav-right">
                <span fxLayoutAlign="end" class="register" routerLink="/Login">Login</span>
            </button>
        </mat-toolbar>

        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column"
            class="Reactive-form">
            <mat-form-field>
                <input formControlName="firstname" matInput placeholder="Firstname" required />
            </mat-form-field>

            <mat-form-field>
                <input formControlName="lastname" matInput placeholder="Lastname" required />
            </mat-form-field>

            <mat-form-field>
                <input formControlName="username" matInput placeholder="Username" required />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password *</mat-label>
                <input formControlName="username" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="reactiveForm.controls.password.errors?.required">password is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>ConfirmPassword *</mat-label>
                <input formControlName="username" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="reactiveForm.controls.confirmpassword.errors?.required">confirmpassword is required
                </mat-error>
            </mat-form-field>
            
            <div>
                <form>
                    <label for="Gender">Gender: </label>
                    <label>
                        <input type="radio" name="Gender" value="male" required />Male</label>
                    <label>
                        <input type="radio" name="Gender" value="female" required />
                        Female</label>
                </form>
            </div>

            <div fxLayoutAlign="end">
                <button mat-raised-button type="submit" color="primary" routerLink="/Register">
                    Register
                </button>

            </div>
        </form>
    </mat-card>
</div>