<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="40">
        <mat-toolbar color="primary" class="Login">
            <p>User Registration</p>

            <span class="example-spacer"></span>
            <div>
                Already registered?
            </div>
            <button mat-raised-button type="submit" class="topnav-right">
                <span fxLayoutAlign="end" class="register" routerLink="/Login">Login</span>
            </button>
        </mat-toolbar>

        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column"
            class="Reactive-form">
            <mat-form-field>
                <input formControlName="firstname" matInput placeholder="Firstname" required />
            </mat-form-field>

            <mat-form-field>
                <input formControlName="lastname" matInput placeholder="Lastname" required />
            </mat-form-field>

            <mat-form-field>
                <input formControlName="username" matInput placeholder="Username" required />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password *</mat-label>
                <input formControlName="username" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="reactiveForm.controls.password.errors?.required">password is required</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>ConfirmPassword *</mat-label>
                <input formControlName="username" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="reactiveForm.controls.confirmpassword.errors?.required">confirmpassword is required
                </mat-error>
            </mat-form-field>
            
            <div>
                <form>
                    <label for="Gender">Gender: </label>
                    <label>
                        <input type="radio" name="Gender" value="male" required />Male</label>
                    <label>
                        <input type="radio" name="Gender" value="female" required />
                        Female</label>
                </form>
            </div>

            <div fxLayoutAlign="end">
                <button mat-raised-button type="submit" color="primary" routerLink="/Register">
                    Register
                </button>

            </div>
        </form>
    </mat-card>
</div>


<!--<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="40">
        <mat-toolbar>
            <mat-toolbar-row class="Login">
                <p>User Registration</p>
                <span class="example-spacer"> </span>
                <div class="alreadyregister">Already Register?</div>
                <button mat-raised-button type="submit" class="topnav-right">
                    <span class="login" routerLink="/Login">Login</span>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>

        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column"
            class="Register-form">
            <mat-form-field>
                <input type="text" name="firstname" formControlName="firstname" matInput ngModel placeholder="Firstname"
                    required />
                <mat-error class="err" *ngIf="submitted && f.firstname.errors">
                    <mat-error *ngIf="f.firstname.errors.required" role="alert">Firstname is required</mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="text" name="lastname" formControlName="lastname" matInput ngModel placeholder="Lastname"
                    required />
                <br />
                <mat-error class="err" *ngIf="submitted && f.lastname.errors">
                    <mat-error *ngIf="f.lastname.errors.required" role="alert">Lastname is required</mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input type="text" name="username" formControlName="username" matInput ngModel placeholder="Username"
                    required />

                <mat-error class="err" *ngIf="submitted && f.username.errors">
                    <mat-error *ngIf="f.username.errors.required" role="alert">Username is required</mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input type="password" name="password" matInput placeholder="Password" formControlName="password"
                    [type]="showPassword ? 'password' : 'text'" required />
                <mat-icon matSuffix (click)="showPassword = !showPassword">{{
                    showPassword ? "visibility_off" : "visibility"
                    }}</mat-icon>

                <mat-error class="err" *ngIf="submitted && f.password.errors">
                    <mat-error *ngIf="f.password.errors.required" role="alert">Password is required</mat-error>
                    <mat-error *ngIf="f.password.errors.minlength" role="alert">Password is must be greater than 6
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input type="password" name="confirmpassword" matInput placeholder="Confirm Password"
                    formControlName="confirmpassword" [type]="showPassword ? 'password' : 'text'" required />
                <mat-icon matSuffix (click)="showPassword = !showPassword">{{
                    showPassword ? "visibility_off" : "visibility"
                    }}</mat-icon>

                <mat-error class="err" *ngIf="submitted && f.confirmpassword.errors">
                    <mat-error *ngIf="f.confirmpassword.errors.required" role="alert">
                        Cofirm Password is required</mat-error>
                    <mat-error *ngIf="f.confirmpassword.errors.MustMatch" role="alert">Password &Confirm Password should
                        be match
                    </mat-error>
                </mat-error>
            </mat-form-field>

            <div>
                <form>
                    <label for="Gender">Gender</label>
                    <label>
                        <input type="radio" name="Gender" value="male" required />Male</label>
                    <label>
                        <input type="radio" name="Gender" value="female" required />
                        Female</label>
                </form>
            </div>

            <div fxLayoutAlign="end">
                <button mat-raised-button type="submit" class="button" routerLink="/Register">
                    Register
                </button>
            </div>
        </form>
    </mat-card>
</div>--->